name: Releases

on:
  push:
    tags:
      - '*'

jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744 # v3.6.0
        with:
          persist-credentials: false
      - uses: oven-sh/setup-bun@f4d14e03ff726c06358e5557344e1da148b56cf7 # v1.2.2 # zizmor: ignore[cache-poisoning]
        with:
          bun-version: "1.2.18"
      - name: Install
        run: bun install
      - name: Update
        run: bun run dist
      - name: Get Tag Name
        id: get_tag_name
        run: echo "tag_name=${GITHUB_REF#refs/*/}" >> "$GITHUB_OUTPUT"
      - uses: ncipollo/release-action@b7eabc95ff50cbeeedec83973935c8f306dfcd0b # v1.20.0
        with:
          artifacts: "bluenotiondb"
          body: |
            Usage of ${{ steps.get_tag_name.outputs.tag_name }}
            
            ```yaml
            name: Update
            on:
              push:
                branches:
                  - main
              schedule:
                # every 30 minutes
                - cron: "*/30 * * * *"
              workflow_dispatch:
            env:
              BLUENOTION_VERSION: ${{steps.get_tag_name.outputs.tag_name}}
            
            permissions:
              contents: none
            jobs:
              update:
                runs-on: ubuntu-latest
                steps:
                  - name: Download
                    run: |
                      curl -L https://github.com/azu/bluenotiondb/releases/download/${{env.BLUENOTION_VERSION}}/bluenotiondb -o bluenotiondb
                      chmod +x bluenotiondb
                  - name: Update
                    run: ./bluenotiondb > /dev/null 2>&1
                    env:
                      BLUENOTION_ENVS: ${{secrets.BLUENOTION_ENVS}}
            ```

