name: Test
on:
  push:
    branches:
      - master
      - main
  workflow_dispatch:

permissions:
  contents: read
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: oven-sh/setup-bun@v1
        with:
          bun-version: "0.7.1"
      - name: Install
        run: bun install
      - name: Test
        run: bun run test
      - name: Update
        run: bun run ci:dry-run
        env:
          BLUE_NOTION_DRY_RUN: true
          BLUE_NOTION_ENVS: ${{ secrets.BLUE_NOTION_ENVS_TEST }}
