name: Tests
on:
  push:
    branches:
      - main
  workflow_dispatch:

permissions:
  contents: read
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744 # v3.6.0
        with:
          persist-credentials: false
      - uses: oven-sh/setup-bun@f4d14e03ff726c06358e5557344e1da148b56cf7 # v1.2.2
        with:
          bun-version: "1.2.18"
      - name: Install
        run: bun install
      - name: Test
        run: bun run test
      - name: Update
        run: bun run ci:dry-run
        env:
          BLUE_NOTION_DRY_RUN: true
          BLUENOTION_ENVS: ${{ secrets.BLUE_NOTION_ENVS_TEST }}
