name: Update
on:
  schedule:
    # excludes 01-07 in JST(16-22)
    - cron: "*/30 0-16,22-23 * * *"
  workflow_dispatch:
env:
  BLUENOTION_VERSION: v2.2.0

permissions:
  contents: none
jobs:
  update:
    runs-on: ubuntu-latest
    steps:
      - name: Download
        run: |
          curl -L https://github.com/azu/bluenotiondb/releases/download/${{env.BLUENOTION_VERSION}}/bluenotiondb -o bluenotiondb
          chmod +x bluenotiondb
      - name: Update
        run: ./bluenotiondb > /dev/null 2>&1
        env:
          BLUENOTION_ENVS: ${{ secrets.BLUE_NOTION_ENVS_UPDATE }}
